@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

body {
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  max-width: 100%;
  background: url("../imgs/contactme.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.centered-navigation {
  $hover: opacity, 0.4;
  $white: #fff;
  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $base-font-color: $white !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: $dark-gray;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $hover;
  $centered-navigation-height: 50px;
  $centered-navigation-item-padding: 2.5em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $medium-screen;

  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6%);
  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;

  // Mobile view


  .centered-navigation-mobile-menu {
    color: $white;
    display: block;
    float: right;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      opacity: 0.4;
    }
  }

  // Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }

  // The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    a {
      color: $white;
      display: inline-block;
      outline: none;
      text-decoration: none;
      font-size: 1.2em;
      font-weight: bold;
      letter-spacing: 2.9px;

      &:focus,
      &:hover {
        opacity: 0.4;
      }
    }

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($horizontal-bar-mode) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    max-height: $centered-navigation-logo-height;
    opacity: 0.6;
  }
}
#nav-icon1 {
  width: 25px;
  height: 25px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #F16473;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

  #nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);

  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
  }

footer {
  height: auto;
  max-width: 100%;
  opacity: 1.9;

  small {
    display: inline-table;
    position: relative;
    transform: translateY(10em);
    background-color: black;
    color: #f2374a;
    font-weight: bold;
    padding: 3px 3px 3px 3px;
    text-align: center;
  }
}

.links a{
  text-align:center;
	float: left;
	width: 50px;
	height: 50px;
	border: 2px solid black;
	border-radius: 100%;
	margin-right: 7px;
  display: flex;
  align-items: flex-start;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  background-color: black;
}
.links a i{
	font-size: 20px;
    align-self:center;
	  color: #f2374a;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    margin: 0 auto;
}
.links a i::before{
  display:inline-block;
  text-decoration:none;
}
.links a:hover{
  background: #f2374a;
}
.links a:hover i{
  opacity: 0.5;
}

.links {
	display: inline-block;
	position: relative;
  top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.links a i {
	font-size: 2em;
  font-weight: bold;
}
.overlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
}

h1 {
  margin: 1.3em auto 1.3em auto;
  color: #f2374a;
  font-size: 58px;
  display: table;
  background-color: black;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 38px;
    margin-top: 3em;
  }
  h2 {
    font-size: 18px;
  }
}

h2 {
  font-size: 38px;
  color: #f2374a;
  display: table;
  background-color: black;
  margin: auto;
}
.social-links > div {
  text-align: center;
  margin: 0 auto;
  /*space between*/
  display: inline-block;
  float: left;
  width: 100px;
}
.social-links div h4 {
  color: #f2374a;
  display: table;
  background-color: black;
  padding: 3px 3px 3px 3px;
  margin: 4px auto 0px auto;
}
.social-links span {
  text-align: center;
  width: 80px; /*Bubbles*/
  height: 80px; /*Bubbles*/
  border-radius: 100%;
  margin: 0 auto;
  /*space between*/
  display: table;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  background-color: #c5c5c5;
}
.social-links span i {
  color: #fff;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  margin: 0;
	display: table-cell;
	vertical-align: middle;
	padding: 0;
}
.social-links span i::before {
  display: inline-block;
  text-decoration: none;
}
.social-links span:hover {
  background: rgba(0, 0, 0, 0.1);
}
.social-links span:hover i {
  color: #909090;
}
#contactMe {
  margin: 5vh auto;
  text-align: center;
}
.social-links {
  display: inline-block;
}
@media screen and (max-width:2000px) {
.social-links div h4 {
		font-size: 1.1em !important;
	}
}
@media screen and (max-width: 550px) {
	.social-links div h4 {
		font-size: 1em !important;
	}
	h1 {
		font-size: 45px !important;
	}
	h2 {
		font-size: 25px !important;
		letter-spacing: -2px !important;
	}
}

@media screen and (max-width: 450px) {
	.social-links div h4 {
		font-size: 1em !important;
	}
	.social-links div.phone {
		margin-left:px;
	}
}

span i {
	font-size: 30px !important;
	padding-top: 3vh;
}

@media screen and (max-width: 650) {
.social-links >	div.phone {
		margin-left: 5vw !important;
	}
.social-links > div.skype {
	margin-left: 4vw !important;
  }
}
