html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  input[type="color"]::placeholder, input[type="date"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder, input[type="email"]::placeholder, input[type="month"]::placeholder, input[type="number"]::placeholder, input[type="password"]::placeholder, input[type="search"]::placeholder, input[type="tel"]::placeholder, input[type="text"]::placeholder, input[type="time"]::placeholder, input[type="url"]::placeholder, input[type="week"]::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.333em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

body {
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  max-width: 100%; }

.centered-navigation {
  background-color: #333;
  border-bottom: 1px solid #242424;
  min-height: 50px;
  width: 100%;
  z-index: 9999;
  position: fixed; }
  .centered-navigation .centered-navigation-mobile-menu {
    color: #fff;
    display: block;
    float: right;
    line-height: 50px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 600px) {
      .centered-navigation .centered-navigation-mobile-menu {
        display: none; } }
    .centered-navigation .centered-navigation-mobile-menu:focus, .centered-navigation .centered-navigation-mobile-menu:hover {
      opacity: 0.4; }
  .centered-navigation .centered-navigation-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
  .centered-navigation ul.centered-navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    -webkit-transform-style: preserve-3d;
    width: 100%;
    z-index: 99999; }
    .centered-navigation ul.centered-navigation-menu.show {
      display: block; }
    @media screen and (min-width: 600px) {
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 600px) {
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  .centered-navigation ul li.nav-link {
    background: #333;
    display: block;
    line-height: 50px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    .centered-navigation ul li.nav-link a {
      color: #fff;
      display: inline-block;
      outline: none;
      text-decoration: none;
      font-size: 1.2em;
      font-weight: bold;
      letter-spacing: 2.9px; }
      .centered-navigation ul li.nav-link a:focus, .centered-navigation ul li.nav-link a:hover {
        opacity: 0.4; }
    @media screen and (min-width: 600px) {
      .centered-navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 50px; }
        .centered-navigation ul li.nav-link a {
          padding-right: 2.5em; } }
  .centered-navigation li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 600px) {
      .centered-navigation li.logo.nav-link {
        display: inline; } }
  .centered-navigation .logo img {
    margin-bottom: -0.66667em;
    max-height: 2em;
    opacity: 0.6; }

#nav-icon1 {
  width: 25px;
  height: 25px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #F16473;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 10px; }

#nav-icon1 span:nth-child(3) {
  top: 20px; }

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.containerBox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-height: 650px; }

.text-box {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%; }

.text-box:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

h1.text {
  display: inline-block;
  font-size: 48px;
  color: #F2374A;
  font-weight: bold;
  background-color: black;
  padding: 5px 5px 5px 5px; }

h4.text {
  display: inline-block;
  font-size: 28px;
  color: #F2374A;
  font-weight: bold;
  background-color: black;
  position: relative;
  top: 10%;
  padding: 3px 3px 3px 3px; }

img.blah {
  display: block;
  max-width: 100%; }

@media screen and (max-width: 600px) {
  h1.text {
    font-size: 22px; }

  h4.text {
    font-size: 16px; } }
.parallax {
  background-image: url("../imgs/parallax1.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  overflow-x: hidden;
  opacity: 1.9; }
  .parallax h1 {
    background-color: black;
    padding: 3px 3px 3px 3px;
    display: table;
    font-weight: bold;
    color: #F2374A;
    font-size: 16px;
    top: 15%;
    position: relative;
    margin: 0px auto 0px auto;
    transform: translateY(-15%); }
  .parallax div {
    height: auto;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%; }
    .parallax div p {
      color: white;
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      position: relative;
      top: 20%;
      transform: translateY(20%);
      display: table;
      background-color: black;
      padding: 3px 3px 3px 3px;
      opacity: 0.7; }

@media screen and (max-width: 500px) {
  .parallax h1 {
    top: 1%; }
  .parallax div p {
    font-size: 20px; } }
main {
  height: auto;
  text-align: center;
  background-color: #333; }
  main h1 {
    display: inline-table;
    margin-top: 5%;
    background-color: black;
    color: #f2374a;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 3px 3px 3px; }

.buffer {
  margin: auto; }
  .buffer .col-md-3 img {
    max-width: 100%; }
  .buffer .col-md-3 img:hover {
    opacity: 0.5; }
  .buffer .col-md-3 h4 {
    padding-top: 8px;
    color: #F16473;
    font-weight: bold;
    text-align: center; }
  .buffer .col-md-3 span {
    display: block;
    width: 30px;
    background-color: #707070;
    height: 1px;
    margin: auto; }
  .buffer .col-md-3 p {
    color: white;
    font-weight: bold;
    padding-top: 8px;
    font-size: 14; }

#sales {
  padding-bottom: 3%;
  background-color: black;
  height: auto; }
  #sales div.row div.col-md-12 h1 {
    color: #F16473;
    text-align: center;
    font-size: 28px;
    margin-top: 3%; }
  #sales div.row div.col-md-12 span {
    display: block;
    width: 60px;
    height: 1px;
    margin: auto;
    background-color: #707070; }
  #sales div.row div.col-md-6 h2 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center; }
  #sales div.row div.col-md-6 span {
    display: block;
    width: 60px;
    height: 1px;
    margin: auto;
    background-color: white; }
  #sales div.row div.col-md-6 p {
    color: #F16473;
    max-width: 300px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding-top: 6px; }

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color; }

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4); }

#skills {
  text-align: center;
  background-color: #333; }
  #skills h1 {
    margin-top: 4%;
    margin-bottom: 5%;
    display: inline-table;
    background-color: black;
    color: #f2374a;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 3px 3px 3px; }

footer {
  background-image: url("../imgs/parallax2.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  overflow-x: hidden;
  opacity: 1.9; }
  footer small {
    display: inline-table;
    position: relative;
    transform: translateY(47em);
    background-color: black;
    color: #f2374a;
    font-weight: bold;
    padding: 3px 3px 3px 3px;
    text-align: center; }

.links a {
  text-align: center;
  float: left;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 100%;
  margin-right: 7px;
  display: flex;
  align-items: flex-start;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  background-color: black; }

.links a i {
  font-size: 20px;
  align-self: center;
  color: #f2374a;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  margin: 0 auto; }

.links a i::before {
  display: inline-block;
  text-decoration: none; }

.links a:hover {
  background: rgba(0, 0, 0, 0.7); }

.links a:hover i {
  opacity: 0.3; }

.links {
  display: inline-block;
  position: relative;
  top: 36rem;
  margin-left: auto;
  margin-right: auto; }

.links a i {
  font-size: 2em;
  font-weight: bold; }

.btn {
  margin-top: 3%;
  margin-bottom: 3%;
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(top, #f7f7f7, #bbc3c7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #bbc3c7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #bbc3c7);
  background-image: -o-linear-gradient(top, #f7f7f7, #bbc3c7);
  background-image: linear-gradient(to bottom, #f7f7f7, #bbc3c7);
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  text-decoration: none; }

.btn:hover {
  background: #a3a7a8;
  background-image: -webkit-linear-gradient(top, #a3a7a8, #999999);
  background-image: -moz-linear-gradient(top, #a3a7a8, #999999);
  background-image: -ms-linear-gradient(top, #a3a7a8, #999999);
  background-image: -o-linear-gradient(top, #a3a7a8, #999999);
  background-image: linear-gradient(to bottom, #a3a7a8, #999999);
  text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
